*{
	margin:0;
	padding:0;
}

body{
	font-family: Tahoma, Helvetica, Arial, sans-serif; /* Proximnr */
	font-size: 18px;
	background-color: #f0f0f0;
	color: rgb(51, 51, 51);
	text-align:center;
}

h1, footer{
	font-family: Cambria, Georgia, Geneva, serif; /* Ebriltebi */
	font-size: 68px;
	background-color: rgb(144, 197, 37) ;
	color: #fff;
	margin-bottom: 0.5em;
	padding:0.5em;
}

footer{
	font-size: 14px;
	font-style: italic;
	text-align: right;
	padding:2em 2em 1em;
}

p{
	margin:0.5em;
}

figure{
    width: 400px;
    overflow: hidden;
    margin: 2em auto;
}

figcaption{
	margin: 0.5em;
	font-style: italic;
}

@keyframes skate {
    from{left:    0;}
    25% {left:-500%;}
    to  {left:-500%;}
}
@-moz-keyframes skate {
    from{left:    0;}
    25% {left:-500%;}
    to  {left:-500%;}
}
@-webkit-keyframes skate {
    from{left:    0;}
    25% {left:-500%;}
    to  {left:-500%;}
}

img{
	position: relative;
	width: 600%;
	animation: skate 2s infinite steps(5);
	-moz-animation: skate 2s infinite steps(5);
	-webkit-animation: skate 2s infinite steps(5);
}

a{
	display:inline-block;
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: rgb(237, 0, 129);
	color: #fff;
	text-decoration: none;
	padding:0.6em;
	margin-bottom:2em;
	transition: .5s cubic-bezier(0, 1, 1, 2);
}

a:hover{
	transform:scale(1.3);
}
